@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,500i');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1920px;
    width: 100%;
    background-image: url('/images/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

a:hover{
    color: initial;
    transition: 0.4s;
}

.navbar {
    padding: 0;
    padding-top: 20px;
}

.navbar-nav li:last-child {
    background-color: #34E7E4;
    padding: 0px 15px;
    border-radius: 5px;
    transition: 0.6s;
}

.navbar-nav li:last-child:hover{
    transform: rotate(360deg);
    transition: 0.6s;
}

.navbar-nav li:last-child a {
    color: #ffffff;
}

.navbar-brand{
    color: #ffffff;
}

.navbar-brand:hover{
    color: #ffffff;
    transform: scale(1.2);
}

.navbar-brand::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: #ffffff;
}

.fa-align-right {
    color: #ffffff;
}

nav a {
    color: #485460;
    transition: 0.4s;
}

main {
    position: relative;
    height: 600px;
    align-items: center;
    justify-content: center;
}

.line-before {
    display: inline-block;
    position: absolute;
    left: 0%;
    width: 2px;
    height: 110px;
    background-color: #0FBCF9;
}

.main-first {
    padding-left: 60px;
}

.main-first h1 {
    color: #485460;
    font-weight: 500;
}

.main-first>p {
    width: 60%;
    color: #808E9B;
}

.tag {
    padding: 20px 60px;
    margin: 20px;
    text-align: center;
    background-color: #ffffff;
    font-weight: 500;
    font-style: italic;
    color: #485460;
    font-size: 20px;
}

.tag i,
.tag img {
    font-size: 25px;
    color: #485460;
    width: 25px;
    float: left;
}

.orange {
    color: #fa8231 !important;
}

.yellow {
    color: #F0DB4F !important;
}

.blue {
    color: #61DBFB !important;
}

.project {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 20px;
    transition: 0.6s;
}

.project:hover{
    color: #ffffff;
    transform: scale(1.05);
    transition: 0.4s;
}

.b-1 {
    border-radius: 15px 15px 0px 15px;
}

.b-2 {
    border-radius: 15px 0px 15px 15px;
}

.b-3 {
    border-radius: 15px 15px 15px 0px;
}

.b-4 {
    border-radius: 0px 15px 15px 15px;
}

footer {
    text-align: center;
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
}

footer ul {
    display: flex;
    list-style: none;
}

footer ul li a i {
    color: #0FBCF9;
    font-size: 46px;
    padding: 50px;
}

@media (max-width: 992px) {
    .main-first>p {
        width: 100%;
    }

    .line-before {
        display: none;
    }

    .main-first {
        padding: 80px 40px;
    }

    body {
        background-size: auto;
    }

    .fa-align-right {
        background-image: linear-gradient(#6610f2, #6f42c1);
        padding: 20px;
        border-radius: 50%;
    }

    .navbar-nav li:last-child {
        background-color: transparent;
        padding: 0px;
    }

    .projects {
        margin-top: 300px;
    }

    .navbar-nav li:last-child:hover{
        transform: none;
    }
    nav a{
        color: #ffffff;
        padding-top: 20px !important;
    }

    nav a:hover{
        color: #ffffff;
    }
}